.container-fluid {
  display: grid;
  grid-template-columns: 30% 5% 65%;
  grid-template-rows: 50% 50%;
  grid-template-areas:
    "codemirror buttons board"
    "codemirror buttons mockup";
  gap: 1% 1%;
}

.codemirror {
  grid-area: codemirror;
}

.buttons {
  grid-area: buttons;
}

.board {
  grid-area: board;
}

.mockup {
  grid-area: mockup;
}
