.container-fluid {
  display: grid;
  grid-template-columns: 30% 10% 60%;
  grid-template-rows: 40% 60%;
  grid-template-areas:
    "codemirror buttons board"
    "codemirror buttons mockup";
  gap: 1% 1%;
}

.codemirror {
  grid-area: codemirror;
  border: 1px solid black;
  height: 100%;
}

.buttons {
  grid-area: buttons;
}

.board {
  grid-area: board;
  border: 1px solid black;
}

.mockup {
  grid-area: mockup;
  border: 1px solid black;
}
