<div class="container-fluid min-vh-100">
  <div class="codemirror">
    <ngx-codemirror [(ngModel)]="content"
                    [options]="codemirrorOptions">
    </ngx-codemirror>
  </div>
  <div class="buttons">
    <div class="row p-1">
      <button class="btn btn-primary btn-sm">Generate</button>
    </div>
    <div class="row p-1">
      <button class="btn btn-success btn-sm"
              (click)="downloadModal.open()">
        Download
      </button>
    </div>
  </div>
  <div class="board">
    <iframe title="Boards" [srcdoc]="workflowBoard"
            height="100%" width="100%"></iframe>
  </div>
  <div class="mockup">
    <iframe title="Mockups" [srcdoc]="workflowMockup"
            height="100%" width="100%"></iframe>
  </div>
</div>

<app-download-modal #downloadModal></app-download-modal>
