<div class="container-fluid min-vh-100">
  <div class="codemirror">
    <ngx-codemirror class="cm-h-100"
                    [(ngModel)]="content"
                    [options]="codemirrorOptions">
    </ngx-codemirror>
  </div>
  <div class="buttons">
    <div class="row justify-content-center">
      <button class="btn btn-primary m-1"
              (click)="generate()">Generate
      </button>
    </div>
    <div class="row justify-content-center">
      <button class="btn btn-success m-1"
              (click)="downloadModal.open()">
        Download
      </button>
    </div>
  </div>
  <div class="board">
    <iframe *ngIf="generateResult" title="Boards" [srcdoc]="generateResult.board | safe"
            height="100%" width="100%"></iframe>
  </div>
  <div class="mockup">
    <app-mockup-viewer [generateResult]="generateResult"></app-mockup-viewer>
  </div>
</div>

<app-download-modal #downloadModal [data]="generateResult" [cmContent]="content"></app-download-modal>
