.mockup-viewer {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 5% 95%;
  grid-template-areas:
    "button-panel"
    "mockup-view";
}

.button-panel {
  grid-area: button-panel;
  border-bottom: black;
}

.mockup-view {
  grid-area: mockup-view;
}
