<div class="h-100" style="background-color: white">
  <div>
    <div *ngIf="currentDisplay !== 'class'" class="d-grid d-md-block">
      <button type="button" class="btn btn-secondary btn-sm m-1"
              (click)="setFirst()">
        <span *ngIf="currentDisplay === 'pages'">First Page</span>
        <span *ngIf="currentDisplay === 'objects'">First Diagram</span>
      </button>
      <button type="button" class="btn btn-secondary btn-sm m-1"
              (click)="previous()">
        <span *ngIf="currentDisplay === 'pages'">Previous Page</span>
        <span *ngIf="currentDisplay === 'objects'">Previous Diagram</span>
      </button>
      <button type="button" class="btn btn-secondary btn-sm m-1"
              (click)="next()">
        <span *ngIf="currentDisplay === 'pages'">Next Page</span>
        <span *ngIf="currentDisplay === 'objects'">Next Diagram</span>
      </button>
      <button type="button" class="btn btn-secondary btn-sm m-1"
              (click)="setLast()">
        <span *ngIf="currentDisplay === 'pages'">Last Page</span>
        <span *ngIf="currentDisplay === 'objects'">Last Diagram</span>
      </button>
    </div>
  </div>

  <div class="h-100">
    <iframe title="Mockups" [srcdoc]="getCurrentIFrameContent() | safe"
            height="100%" width="100%"></iframe>
  </div>
</div>
