<div class="h-100"  style="background-color: white">
  <div>
    <div class="d-grid d-md-block">
      <button type="button" class="btn btn-secondary btn-sm m-1"
              (click)="previousPage()">
        <span>Previous Page</span>
      </button>
      <button type="button" class="btn btn-secondary btn-sm m-1"
              (click)="nextPage()">
        <span>Next Page</span>
      </button>
      <button type="button" class="btn btn-secondary btn-sm m-1"
              (click)="setFirstPage()">
        <span>First Page</span>
      </button>
      <button type="button" class="btn btn-secondary btn-sm m-1"
              (click)="setLastPage()">
        <span>Last Page</span>
      </button>
      <hr class="solid">
    </div>
  </div>

  <div class="h-100">
    <iframe *ngIf="pagesReady()" title="Mockups" [srcdoc]="getCurrentPage() | safe"
            height="100%" width="100%"></iframe>
  </div>
</div>
