<ngb-toast *ngFor="let toast of toastService.toasts"
           style="background: transparent"
           [header]="toast.header" [autohide]="true" [delay]="toast.delay || 5000"
           (hidden)="toastService.remove(toast)">
  <div [class]="toast.classname">
    <div class="card-body">
      <h5 *ngIf="toast.type === 'success'" class="card-title">Page Action</h5>
      <h5 *ngIf="toast.type === 'error'" class="card-title">Lint Error</h5>
      <p class="card-text" style="white-space: pre-line">{{toast.textOrTpl}}</p>
    </div>
  </div>
</ngb-toast>
