<ng-template #download let-modal>
  <div class="modal-header">
    <h4 class="modal-title">Configure and Download</h4>
  </div>

  <div class="modal-body">
    <div class="col">
      <div class="form-group form-check">
        <input type="checkbox" class="form-check-input" id="allCheck" [(ngModel)]="exportAll">
        <label class="form-check-label" for="allCheck">Everything</label>
      </div>
      <div class="form-group form-check">
        <input type="checkbox" class="form-check-input" id="yamlCheck" [(ngModel)]="exportYaml">
        <label class="form-check-label" for="yamlCheck">YAML (Codemirror Content)</label>
      </div>
      <div class="form-group form-check">
        <input type="checkbox" class="form-check-input" id="boardCheck" [(ngModel)]="exportBoard">
        <label class="form-check-label" for="boardCheck">Check me out</label>
      </div>
      <div class="form-group form-check">
        <input type="checkbox" class="form-check-input" id="pagesCheck" [(ngModel)]="exportPages">
        <label class="form-check-label" for="pagesCheck">Check me out</label>
      </div>
    </div>
  </div>

  <div class="modal-footer">
    <button type="button" class="btn btn-warning"
            (click)="modal.close()">Dismiss
    </button>
    <button type="button" class="btn btn-success" (click)="downloadData()">Download</button>
  </div>
</ng-template>
