<ng-template #download let-modal>
  <div class="modal-header">
    <h4 class="modal-title">Configure and Download</h4>
  </div>

  <div class="modal-body">
    <div class="col">
      <div class="form-group form-check">
        <input type="checkbox" class="form-check-input" id="yamlCheck" [(ngModel)]="exportOptions.exportYaml">
        <label class="form-check-label" for="yamlCheck">YAML (Codemirror Content)</label>
      </div>
      <div class="form-group form-check">
        <input type="checkbox" class="form-check-input" id="boardCheck" [(ngModel)]="exportOptions.exportBoard">
        <label class="form-check-label" for="boardCheck">Board</label>
      </div>
      <div class="form-group form-check">
        <input type="checkbox" class="form-check-input" id="pagesCheck" [(ngModel)]="exportOptions.exportPages">
        <label class="form-check-label" for="pagesCheck">Mockups</label>
      </div>
      <div class="row">
        <button type="button" class="btn btn-outline-secondary m-1" (click)="deselectAll()">Deselect All</button>
        <button type="button" class="btn btn-outline-success m-1" (click)="selectAll()">Select All</button>
      </div>
    </div>
  </div>

  <div class="modal-footer">
    <button type="button" class="btn btn-secondary"
            (click)="modal.close('Dismiss')">Dismiss
    </button>
    <button type="button" class="btn btn-success" (click)="modal.close()">Download</button>
  </div>
</ng-template>
